<div class="row">
  <div class="col-md-12">
    <div class="header">
      <div class="h01"></div>
      <inapi-logo></inapi-logo>
    </div>
    <div class="secure-user-verify-success">
      <div class="reg-forms">
        <div class="form-message">
          <span class="f-text">
            感謝您的註冊，目前帳號已完成開通~
          </span>
        </div>
        <div class="form-group">
          <div class="reg-btns">
            <button class="btn button-blue" data-ng-click="vm.gotoLogin()">前往帳號登入</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
