<div class="row">
  <div class="col-md-12">
    <inapi-top-menu data-menu-id="sourcecode"></inapi-top-menu>

    <div class="content-scroll">
      <div class="sourcecode-list">
        <div class="list">
          <ul>
            <li>
              <a href="https://github.com/insnergy/authorization" target="_blank">
                <span class="pic"><img src="../../images/InAPI_4_01.png" alt="帳號註冊認證" /></span>
                <span class="name">帳號註冊認證</span>
              </a>
            </li>
            <li>
              <a href="https://github.com/insnergy/devicelist" target="_blank">
                <span class="pic"><img src="../../images/InAPI_4_02.png" alt="裝置資訊存取" /></span>
                <span class="name">裝置資訊存取</span>
              </a>
            </li>
            <li>
              <a href="https://github.com/insnergy/statistics" target="_blank">
                <span class="pic"><img src="../../images/InAPI_4_03.png" alt="雲端遙控排程" /></span>
                <span class="name">雲端遙控排程</span>
              </a>
            </li>
            <li>
              <a href="https://github.com/insnergy/ido" target="_blank">
                <span class="pic"><img src="../../images/InAPI_4_04.png" alt="裝置事件連動" /></span>
                <span class="name">裝置事件連動</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
