<div class="left-main">
  <div class="navigation-newbie">
    <div class="left-menu">
      <div class="menu-title">實作引導</div>
      <div class="menu-nav">
        <ul>
          <li class="menu1"><a>實體裝置安裝</a>
            <ul>
              <li data-ng-class="vm.highLightThis('machine-install')"><a href="javascript:void(0)" data-ui-sref="navigation.machine-install">▌實體裝置安裝</a></li>
              <li data-ng-class="vm.highLightThis('emulator-download')"><a href="javascript:void(0)" data-ui-sref="navigation.emulator-download">▌裝置模擬器下載</a></li>
              <li data-ng-class="vm.highLightThis('doc-download')"><a href="javascript:void(0)" data-ui-sref="navigation.doc-download">▌InAPI 文件下載</a></li>
            </ul>
          </li>
          <li class="menu2" data-ng-class="vm.highLightThis('activedocs')"><a href="javascript:void(0)" data-ui-sref="navigation.activedocs">InAPI 線上調用</a></li>
          <li class="menu3" data-ng-class="vm.highLightThis('sample')"><a href="javascript:void(0)" data-ui-sref="navigation.sample">Github 範例取得</a></li>
          <li class="menu4" data-ng-class="vm.highLightThis('devicelog')"><a href="javascript:void(0)" data-ui-sref="navigation.devicelog">裝置日誌查詢</a></li>
          <li class="menu5" data-ng-class="vm.highLightThis('consulting')"><a href="javascript:void(0)" data-ui-sref="navigation.consulting">技術開發諮詢</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
