<div class="terms-of-service-popup">
  <p>
    感謝您使用InAPI平台服務，本平台服務（以下簡稱“本服務”）由財團法人資訊工業策進會（以下簡稱“本會”）所提供；
    硬體產品之營銷、客服與維護由本會技術授權予In-Snergy 套件銷售公司提供。您需先取得「In-Snergy套件」並完成本網站會員註冊程序後，始能正常使用本服務。
  </p>
  <p>
    您在註冊成為本網站會員及使用、存取本服務前，應請先閱讀下列會員使用條款，尤其當您完成帳號申請，成為本站會員時，表示您已閱讀、瞭解並同意遵守以下會員使用條款全部內容。
  </p>
  <p>
    <b>一、帳號與密碼</b>
  </p>
  <p>
    (1) 您於完成會員註冊成為本平台會員後，請妥善保管本服務之會員帳號與密碼，僅限您本人始得使用、存取本服務，並且應對您個人使用、存取本服務之全部行為負責。
  </p>
  <p>
    (2) 為維護您帳號密碼之安全，您的密碼或帳號遭到盜用或有其他任何安全問題發生時，請您立即通知本會。因不可歸責於本會事由致您所註冊之會員帳號與密碼遭盜用或其他類此行為而受有損失時，本會不負任何連帶責任。
  </p>
  <p>
    (3) 請維持並更新您個人資料，確保其為正確、最新及完整。若您提供任何錯誤、不實或不完整的資料，致您受有損失者，本會不負任何責任，且有權暫停或終止您的帳號，並拒絕您使用本服務之全部或部分。
  </p>
  <p>
    <b>二、隱私政策</b>
  </p>
  <p>
    關於您的會員註冊以及其他特定資料依本會「隱私權政策」受到保護與規範。當您使用本服務時，您瞭解並同意本會依據「隱私權政策」進行您個人資料的蒐集與利用，包括跨國間的傳輸與儲存及本會內部於蒐集目的範圍內之利用。
  </p>
  <p>
    <b>三、智慧財產權</b>
  </p>
  <p>
    您瞭解並同意本平台所提供之任何軟體、程式、內容，包括但不限於文字、軟體、程式、影像、圖片、動態影帶、網站架構、網站畫面安排、網頁設計、會員內容或其他資料等，均受著作權、商標權、專利權或其他智慧財產權利及現行相關法令之保護，其相關權利由本會或其他權利人所有，未經本會同意或授權，任何人不得逕自使用、修改、重製、公開播送、公開傳輸、公開演出、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。如有違反，應對本會負損害賠償責任，因此致本會遭他人提起訴訟或請求賠償等情事，亦應對本會負損害賠償責任。
  </p>
  <p>
    <b>四、與第三方網站之連結及第三方提供之內容</b>
  </p>
  <p>
    本服務可能會提供連結至不屬本服務控制及負責範圍之內其他機關單位(以下稱「第三方」)之網站。本會對任何檢索結果或外部連結，不擔保其有效性、正確性、合適性、及完整性。您也許會檢索或連結到一些不合適或不需要的網站，遇此情形時，本服務建議您不要瀏覽或儘速離開該等網站。您並同意本會無須為您連結至前述非屬於本服務之網站所生之任何損害，負損害賠償之責任。
  </p>
  <p>
    <b>五、本服務技術支援</b>
  </p>
  <p>
    (1) 本服務所指之技術支援為使用者針對In-Snergy套件自行發展延伸應用上，所提出之技術問題回覆與支援。
  </p>
  <p>
    (2) 您瞭解並同意本會有權選擇就本服務提供技術支援服務。
  </p>
  <p>
    <b>六、會員義務</b>
  </p>
  <p>
    為使用本服務，您須同意以下事項：
  </p>
  <p>
    (1) 您同意遵守所有與本服務相關之國內外法規，並同意不干擾別人使用本服務。
  </p>
  <p>
    (2) 您應於會員註冊時提供本平台最新、正確及完整之會員資料，並應隨時維持及更新以確保其正確、精確、最新及完整。若您提供任何錯誤、不實、過時或不完整的資料，或者本平台合理懷疑您提供之會員資料為錯誤、不實、過時或不完整，本平台保留終止您使用本服務之權利。
  </p>
  <p>
    (3) 請保護您用於本服務之密碼的安全性，確保他人無法存取，並隨時更新您的帳戶資訊，您必須為您的使用方式負責。
  </p>
  <p>
    (4) 若本服務有發生任何爭議，以本會公布於本平台之結果為準。會員及其他第三人所提供之證據或建議僅供本會參考，不對本會具任何約束力。
  </p>
  <p>
    (5) 禁止侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權及其他智慧財產權或其他權益。
  </p>
  <p>
    (6) 若您發現任何未授權之盜用密碼或會員帳號，或任何其他破壞本平台安全之行為，您應立即向本會反應。
  </p>
  <p>
    (7) 如果您在本平台有任何違反法令、違反會員使用條款或有侵害第三人權益之虞、或經第三人檢舉利用本服務進行廣告宣傳等情事，本會有權隨時得不經通知直接暫停或終止您使用本服務。若本會因此受到任何損害，您應對本會負損害賠償之責。
  </p>
  <p>
    <b>七、服務裝置蒐集運用</b>
  </p>
  <p>
    我們會從您用來存取服務的裝置蒐集資訊。這些資訊包括如 IP 位址、裝置相關識別碼等。您的裝置 (依設定而定) 可能會傳送位置資訊與使用資訊給本服務。您瞭解並同意服務裝置所上傳的使用資訊，本會得以匿名、統計資料之方式於本服務相關目的範圍內進行運用，相關之統計資料並有可能在為改進或服務評估等相關目的範圍內，以匿名之方式提供給相關事業單位或主管機關。惟本會保證，將您的使用資訊之方式或偏好，以去識別化等方式進行利用、處理該資訊或提供予本服務合作之人。
  </p>
  <p>
    <b>八、本服務之相關通知</b>
  </p>
  <p>
    本會因本服務依法有通知您之必要時，您同意當本會將該通知以電子郵件形式寄達您申請本平台會員註冊時所留存之電子郵件地址，視為該通知已送達於您。若您不同意此通知方式，應馬上停止使用本服務，若您未即時停止使用本服務，將視為您同意此通知方式。
  </p>
  <p>
    <b>九、責任限制</b>
  </p>
  <p>
    您瞭解並同意，除本會員使用條款另有說明外，因非可歸責於本會之事由，本會不對您使用或存取本服務所產生之任何成本、費用或損害負有補償或賠償之責任，包括但不限於：
  </p>
  <p>
    (1) 本服務有中斷、錯誤等情形。
  </p>
  <p>
    (2) 您所留存於本平台之個人資料、In-Snergy套件蒐集之使用資訊或本服務所提供資訊全部或部分毀損、滅失或遭人篡改。
  </p>
  <p>
    (3) 使您無法使用本服務之電腦病毒或其他軟體或硬體故障等情況。
  </p>
  <p>
    (4) 本服務與其他服務或軟硬體不相容。
  </p>
  <p>
    (5) 您基於本服務所採取之行動，或未能及時基於本服務採取任何行動。
  </p>
  <p>
    (6) 本服務之任何修改、暫停或終止。
  </p>
  <p>
    (7) 您電費帳單之波動。
  </p>
  <p>
    <b>十、會員使用條款之修改</b>
  </p>
  <p>
    我們有權修改使用條款，並將最新版本公布在我們的網站上。如果條款修改會使您的權利受到影響，我們會通知您，包括但不限於：透過推播、寄送訊息至與您帳戶連結的電子郵件地址、公布於In-Snergy官方網站或是此頁面上。在內容變更生效後，如果您繼續使用或存取服務，即表示您同意並接受修改後的條款內容。
  </p>
  <p>
    <b>十一、服務之變更與終止</b>
  </p>
  <p>
    (1) 本會變更或暫時或永久停止繼續提供本服務（或其任一部分）時，得以使用下列方式進行通知，其通知形式包括但不限於：推播、張貼於本服務網頁、電子郵件，或其他現在或未來合理之方式通知您，包括本服務條款之變更。但若您違反本服務條款，以未經授權的方式存取本服務，或於註冊時所提供之資料不正確或未更新，您將不會收到前述通知。當您經由授權的方式存取本服務，您即同意本服務所為之任何及所有給您的通知，均視為送達。(2) 本會有權基於一定期間未使用、法院或政府機關命令、本服務無法繼續或服務內容實質變更、無法預期之技術或安全因素或問題、您所為詐欺或違法行為、未依約支付費用，或其他已經違反本服務條款的明文規定等理由，而終止或限制您使用帳號（或其任何部分）或本服務之使用。如依法或其他相關規定須為通知時，本服務得以包括但不限於：張貼於本服務網頁、電子郵件，或其他現在或未來合理之方式通知您，包括本服務條款之變更。除了付費帳戶之外，若您在連續 12 個月之期間內皆未存取本會的服務，本會保留終止及刪除您帳戶之權利，本會當然會在終止及刪除您的帳戶之前，透過與您帳戶連結的電子郵件地址通知您。
  </p>
  <p>
    <b>十二、準據法及管轄法院</b>
  </p>
  <p>
    因本服務所產生之任何爭議，您同意將以中華民國法律規範及解釋，並以台灣台北地方法院為第一審管轄法院。
  </p>
</div>
